<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup]="sizeForm" (ngSubmit)="doarticalsizeadd()">
        <div class="card">
          <div class="card-header">
            <strong>Article Size - {{SIZEPAGE}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="city">Size <span class="red">*</span></label>
              <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                formControlName="Name">
              <div class="w3-panel w3-red"
                *ngIf="sizeForm.controls.Name.invalid && (sizeForm.controls.Name.dirty || sizeForm.controls.Name.touched)">
                This filed is required</div>
              <div class="w3-panel w3-red">{{errorexit}}</div>
            </div>
            <div class="row">
              <div class="col-6">
                <button  type="button" (click)="goBack()" class="btn btn-primary px-4">Back</button>

              </div>
              <div class="col-6 text-right">
                <button type="submit" id="submit-button" [disabled]="!sizeForm.valid" class="btn btn-primary px-4">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #other_content>
  <div class="col-sm-12 col-md-12">
    <div class="card text-white bg-info text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <h3>Rights that are not assignable</h3>
          <footer>Please contact <cite title="Source Title">Admin</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</ng-template>

