<style type="text/css">
  .page-footer {
    opacity: 0;
  }

  .page {
    page-break-after: always;
  }

  @media print {
    .page-footer {
      opacity: 1;
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }
  }
</style>
<div *ngIf="UserWiseData; then stocktransferdatashow else stocktransferdatahide"></div>
<ng-template #stocktransferdatashow>
  <div id="contentToConvert" class="card page">
    <div id="print-section" #drawMe class="card-body" style="overflow: auto; margin: 1.25rem; padding: 0;">
      <table width="100%"  border="0" cellspacing="0" style="font-family:Arial; border:0;">
        <tbody>
          <tr>
            <td colspan="3"
              style="border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:center;">
              <h4 style="margin:0; padding:6px; text-align:center;"><strong>STOCK TRANSFER</strong></h4>
            </td>
          </tr>
          <tr style="background:#000;">
            <td colspan="3"
              style="border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:center;">
              <h2 style="margin:0; padding:6px; color:#fff; text-align:center;">
                <!-- <strong>dfdsfsdf{{UserName}}</strong></h2> -->
                <strong>{{UserName}} </strong>
              </h2>
            </td>
          </tr>
          <tr style="width: 100%;">
            <td style="padding:6px;  border: 1px solid #c8ced3; font-size:14px;">
              <strong>STOCK TRANSFER NO: </strong>{{STNumber}}
            </td>

            <td style="padding:6px; font-size:14px;">
              <strong>DATE: </strong> {{STDate | date:'dd/MM/y'}}
            </td>

            <td style="padding:6px; border-left:1px solid #c8ced3; border-right:1px solid #c8ced3; font-size:14px;">
              <strong>REMARKS:</strong> {{ Remarks }}
            </td>
          </tr>

          <tr>
            <td colspan="3" style="border-top:1px solid #c8ced3; height:30px;"></td>
          </tr>
        </tbody>
      </table>
      <div class="page-footer" style="font-family:Arial; position: fixed; bottom: 0; width: 100%;">
        <div style="float: left;"><strong>Prepared by: </strong>{{UserName}}</div>
        <div style="position: absolute; left: 0; right: 0; margin: 0 auto; width: 240px;">
          <strong>Verified by: </strong>{{UserName}}
        </div>
        <div style="float: right;"> <strong>Authorized by: </strong> <span
            style="border-bottom: #000 solid 1px;">______________________</span> </div>
      </div>
      <table class="desktopview" width="100%" border="0" cellspacing="0" style="font-family:Arial; border:0;">
        <thead>
          <tr style="text-align:center; font-size:14px;">
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>SN</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>CONSUMED ARTICLE</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>CONSUMED CATEGORY</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>CONSUMED SIZE</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>CONSUMED COLOR</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>CONSUMED PIECES</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>TRANSFER ARTICLE</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>TRANSFER CATEGORY</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>TRANSFER SIZE</strong>
            </td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>TRANSFER COLOR</strong>
            </td>
            <td
              style="padding:6px; border-left:1px solid #c8ced3; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>TRANSFER PIECES</strong>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:center; font-size:14px;"
            *ngFor="let val of stocktransferlist; let i = index; last as islast">
            <td
              style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;width: 94px;">
              {{ i + 1}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.ConsumedArticleNumber}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.ConsumedTitle}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.ConsumedArticleSize}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.ConsumedArticleColor}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              {{val.ConsumedNoPacks}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.TransferArticleNumber}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.TransferTitle}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.TransferArticleSize}}</td>
            <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
              {{val.TransferArticleColor}}</td>
            <td
              style="padding:6px; border-left:1px solid #c8ced3; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              {{val.TransferNoPacks}}</td>
          </tr>
          <tr style="text-align:center; font-size:14px;">
            <td colspan="5"
              style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
              <strong>TOTAL</strong>
            </td>
            <td
              style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>{{TotalConsumedNoPacks}}</strong>
              <!-- <strong>{{TotalQuantityPic}}</strong> -->
            </td>
            <td colspan="4"
              style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
              <strong></strong>
            </td>
            <td
              style="padding:6px; border-right:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
              <strong>{{ TotalTransferNoPacks }}</strong>
            </td>
          </tr>
        </tbody>
        <!-- <tfoot>
            <tr>
            <td>
              <div class="page-footer-space" style="height: 30px;"> <strong>Prepared By :</strong> {{ UserName}}</div>
            </td>
            </tr>
          </tfoot> -->
      </table>

      <!-- <div class="page-footer-space" style="height: 30px;"> <strong>Prepared By :</strong> {{ UserName}}</div> -->
    </div>
  </div>
  <div class="challan-btn">
    <div class="pull-left" ><button type="button" (click)="goBack()"
        class="btn btn-primary px-4">Back</button></div>

    <button type="button" [useExistingCss]="true" printSectionId="print-section"
      class="printbutton btn btn-primary mr-1 mb-3 mt-1 pull-right" ngxPrint> <i class="fa fa-print"
        aria-hidden="true"></i> </button>
    <button type="button" (click)="pdf(drawMe)" class="btn btn-primary mr-1 mb-3 mt-1 pull-right"><i
        class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
  </div>
</ng-template>
<ng-template #stocktransferdatahide>
  <div class="col-sm-12 col-md-12">
    <div class="card text-white text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote"> <img src="../assets/img/Access-denied.png"> </blockquote>
      </div>
    </div>
  </div>
</ng-template>
