table           { border-collapse:collapse }
tr.strikeout td { position:relative        }
tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}
tr.strikeout td:last-child:before {content:none !important;}
.canceled{ font-family:Arial;border:0;background: #fbe3e3; }
