<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
    <div class="clear">
        <div class="card">
            <div class="card-header"> <strong>SO Status</strong> <span class="text-right pull-right"></span></div>
            <div class="card-body">
                <form [formGroup]="soStatusForm" (ngSubmit)="dosoStatus()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col1">
                                    <div class="form-group">
                                        <label for="city">Party <span class="red">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control" (change)="onChangeParty($event)" name="PartyId"
                                                Id="PartyId" formControlName="PartyId">
                                                <option value="">Select</option>
                                                <option *ngFor="let val of partylist" value="{{val.Id}}">{{val.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col1">
                                    <div class="form-group">
                                        <label for="city">SO Number <span class="red">*</span></label>
                                        <div class="form-group" *ngIf="DropdownSO; else NoDropdownSo">
                                            <select class="form-control" (change)="onChangeSONumber($event)" name="SoId"
                                                Id="SoId" formControlName="SoId">
                                                <option value="">Select</option>
                                                <option *ngFor="let val of remainingso" value="{{val.SoNumberId}}">
                                                    {{val.SoNumber}}</option>
                                            </select>
                                        </div>
                                        <ng-template #NoDropdownSo>

                                            <input readonly type="text" class="form-control" value="{{SO_Number}}">
                                            <input readonly type="hidden" class="form-control" Id="SoId"
                                                formControlName="SoId">
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="statuscheck">
                            <div class="row">
                                <div class="col1">
                                    <div class="form-group">
                                        <label class="switch switch-label switch-pill switch-primary">
                                            <input class="switch-input" [disabled]="StatusDisabled" type="checkbox"
                                                checked="" formControlName="Status">
                                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="submit" id="submit-button" [disabled]="!soStatusForm.valid"
                                class="btn btn-primary px-4">Submit</button>
                        </div>
                    </div>
                </form>
                <div class="text-right backcancel_button">
                    <button [routerLink]="'/sostatuslist'" class="btn btn-primary px-4 mgr5">Back</button>
                    <button (click)="cancelform()" class="btn btn-primary px-4">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #other_content>
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-info text-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <h3>Rights that are not assignable</h3>
                    <footer>Please contact <cite title="Source Title">Admin</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>


