<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-title"> <i class="fa fa-align-justify"></i> Inward List </div>
                    </div>
                    <div class="col-md-12 pt-3 pb-3">
                        <table datatable [dtOptions]="dtOptions" width="100%" class="row-border hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="no-sort">No</th>
                                    <th>GRN</th>
                                    <th>Party Name</th>
                                    <th>Category</th>
                                    <th class="no-sort">Pieces</th>
                                    <th>Date</th>
                                    <th>PO No</th>
                                    <th class="no-sort" width="120">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of inwardlist;let i = index">
                                    <td>{{startnumber + i + 1}}</td>
                                    <td>{{val.GRN_Number}}</td>
                                    <td>{{val.Name}}</td>
                                    <td>{{val.Title}}</td>
                                    <td class="no-sort">{{val.TotalInwardPieces}}</td>
                                    <td>{{val.InwardDate}}</td>
                                    <td>{{val.PurchaseNumber }}</td>
                                    <td class="flex">
                                        <button type="button" class="btn btn-primary mr-1" (click)="printinwardchallan(val.GRN, 1)"> <i class="fa fa-print"
                                                aria-hidden="true"></i> </button>
                                    </td>
                                </tr>
                                <tr *ngIf="inwardlist?.length == 0">
                                    <td colspan="3" class="no-data-available">No data available in table!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #other_content>
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-info text-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <h3>Rights that are not assignable</h3>
                    <footer>Please contact <cite title="Source Title">Admin</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>
