<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="table-title"><i class="fa fa-align-justify"></i>Sales Remaining <b>[This bugs effecting in So Module]</b></div>
            <div class="pull-right" *ngIf='isAdd==1'>
              <button type="button" (click)="goback()" class="btn btn-primary">Go Back</button>
              <button type="button" (click)="fixSoRemainByOnce()" class="btn btn-primary">Fix All</button>
            </div>
          </div>

          <div class="col-md-12 pt-3 pb-3">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="row-border hover">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Article Number</th>
                  <th>GRN</th>
                  <th>Wrong Sales Remaining</th>
                  <th>Sales Remaining Should Be</th>
                  <th class="no-sort" width="120">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of soremaining;let i = index">
                  <td>{{ i + 1}}</td>
                  <td style="background-color: #ff00005c;">{{val.ArticleNumber}}</td>
                  <td>{{val.inwardgrn}}</td>
                  <td>{{val.SalesNoPacks}}</td>
                  <td>{{val.ShoulSalesNoPacks}}</td>
                  <td class="flex">
                    <button type="button" class="btn btn-primary mr-1" (click)="fixSalesRemaining(val.InwardId , val.ShoulSalesNoPacks)">
                      Fix
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-3"><b>Note : Above bugs are effecting So module. It can show wrong available stocks for the articles while Add SO.</b></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #other_content>
  <div class="col-sm-12 col-md-12">
    <div class="card text-white bg-info text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <h3>Rights that are not assignable</h3>
          <footer>Please contact <cite title="Source Title">Admin</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</ng-template>

