<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="table-title"><i class="fa fa-align-justify"></i>PO Duplication List</div>
            <div class="pull-right" *ngIf='isAdd==1'>
              <button type="button" (click)="goback()" class="btn btn-primary">Go Back</button>
            </div>
          </div>
          <div class="col-md-12 pt-3 pb-3">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="row-border hover">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Article Number</th>
                  <th>PO Number</th>
                  <th>PO Packs</th>
                  <th>Created Date</th>
                  <th class="no-sort" width="120">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of poduplist;let i = index">
                  <td>{{ i + 1}}</td>
                  <td style="background-color: #ff00005c;">{{val.ArticleNumber}}</td>
                  <td>{{val.PONumber}}</td>
                  <td>{{val.NoPacks}}</td>
                  <td>{{val.CreatedDate}}</td>
                  <td class="flex">
                    <button type="button" *ngIf='isDelete==1' class="btn btn-danger mr-1"
                      (click)="deletepoduplication(val.PONumberId , val.ArticleId)">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #other_content>
  <div class="col-sm-12 col-md-12">
    <div class="card text-white bg-info text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <h3>Rights that are not assignable</h3>
          <footer>Please contact <cite title="Source Title">Admin</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</ng-template>

