<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-title"> <i class="fa fa-align-justify"></i> Sales Order List </div>
                    </div>
                    <div class="col-md-12 pt-3 pb-3">
                        <table datatable [dtOptions]="dtOptions" width="100%" class="row-border hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="no-sort">No</th>
                                    <th>So Number</th>
                                    <th>Party Name</th>
                                    <th>Pieces</th>
                                    <th>Date</th>
                                    <th class="no-sort">Destination </th>
                                    <th class="no-sort">Transporter</th>
                                    <th class="no-sort" width="120">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of solist;let i = index">
                                    <td>{{startnumber + i + 1}}</td>
                                    <td>{{val.SoNumber}}</td>
                                    <td>{{val.Name}}</td>
                                    <td>{{val.TotalSoPieces}}</td>
                                    <td>{{val.SoDate | date:'dd/MM/y'}}</td>
                                    <td>{{val.Destination}}</td>
                                    <td>{{val.Transporter}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary mr-1" (click)="printsochallan(val.Id)"> <i class="fa fa-print"
                                                aria-hidden="true"></i> </button></td>
                                </tr>
                                <tr *ngIf="solist?.length == 0">
                                    <td colspan="3" class="no-data-available">No data available in table!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #other_content>
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-info text-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <h3>Rights that are not assignable</h3>
                    <footer>Please contact <cite title="Source Title">Admin</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>
