<div *ngIf="accessdenied;then other_content else content"></div>

<ng-template #content>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-title"><i class="fa fa-align-justify"></i> Category List</div>
                        <div class="pull-right" *ngIf='isAdd==1'>
                            <a type="submit" [routerLink]="['/category/']" class="btn btn-primary">Add
                                Category</a>
                        </div>
                    </div>
                    <div class="col-md-12 pt-3 pb-3">
                        <table width="100%" datatable [dtOptions]="dtOptions" class="row-border hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="no-sort">No</th>
                                    <th>Name</th>
                                    <th>Color Flag</th>
                                    <th>Article Open Flag</th>
                                    <th>Article Autogenerate</th>
                                    <th>Category wise Individual Series</th>
                                    <th class="no-sort">Image</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of catlist;let i = index">
                                    <td>{{startnumber + i + 1}}</td>
                                    <td width="180">{{val.Title}}</td>
                                    <td *ngIf="val.Colorflag==1">Yes</td>
                                    <td *ngIf="val.Colorflag==0">No</td>

                                    <td *ngIf="val.ArticleOpenFlag==1">Yes</td>
                                    <td *ngIf="val.ArticleOpenFlag==0">No</td>
                                    <td *ngIf="val.ArticleAutoGenerate==1">Yes</td>
                                    <td *ngIf="val.ArticleAutoGenerate==0">No</td>
                                    <td *ngIf="val.ArticleSeriesAuto==1">Yes</td>
                                    <td *ngIf="val.ArticleSeriesAuto==0">No</td>
                                    <td><img width="100" height="100" onError="this.src='assets/img/noimage.png';" src="{{BaseURL}}uploads/{{val.Image}}"></td>
                                    <td class="flex">
                                        <button type="button" *ngIf='isEdit==1' class="btn btn-primary mr-1" (click)="edit(val.Id)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" *ngIf='isDelete==1' class="btn btn-danger mr-1" (click)="delete(val.Id)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="catlist?.length == 0">
                                    <td colspan="3" class="no-data-available">No data available in table!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #other_content>
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-info text-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <h3>Rights that are not assignable</h3>
                    <footer>Please contact <cite title="Source Title">Admin</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>
<ngx-spinner type="ball-beat" size="20px">
</ngx-spinner>  