<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-title"><i class="fa fa-align-justify"></i> Purchase Order List</div>
                    </div>
                    <div class="col-md-12 pt-3 pb-3">
                        <table width="100%" datatable [dtOptions]="dtOptions" class="row-border hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="no-sort">No</th>
                                    <th>Date</th>
                                    <th>PO Number</th>
                                    <!-- <th>Article No</th> -->
                                    <th>Vender</th>
                                    <!-- <th>Category</th> -->
                                    <th>Pieces</th>
                                    <!-- <th class="no-sort">Work Status</th> -->
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of polist;let i = index">
                                    <td>{{startnumber + i + 1}}</td>
                                    <td>{{val.PoDate}}</td>
                                    <td>{{val.PurchaseNumber}}</td>
                                    <!-- <td>{{val.ArticleNumber}}</td> -->
                                    <td>{{val.Name}}</td>
                                    <!-- <td>{{val.Title}}</td> -->
                                    <td>{{val.TotalPieces}}</td>
                                    <!-- <td class="no-sort">{{val.WorkStatusName}}</td> -->
                                    <td class="flex">
                                        <button type="button" class="btn btn-primary mr-1" (click)="printpochallan(val.POId)">
                                            <i class="fa fa-print" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="polist?.length == 0">
                                    <td colspan="3" class="no-data-available">No data available in table!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #other_content>
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-info text-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <h3>Rights that are not assignable</h3>
                    <footer>Please contact <cite title="Source Title">Admin</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>
