<style type="text/css">
  .page-footer {
    opacity: 0;
  }

  .page {
    page-break-after: always;
  }

  @media print {
    .page-footer {
      opacity: 1;
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }
  }
</style>
<div *ngIf="accessdenied;then other_content else content"></div>
<ng-template #content>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="table-title"> <i class="fa fa-align-justify"></i> Sales Order List </div>
            <div class="pull-right" *ngIf='isAdd==1'>
              <a type="submit" [routerLink]="['/so',{SONO:'Add'}]" class="btn btn-primary">Add
                SO</a>
            </div>
          </div>
          <div class="col-md-12 pt-3 pb-3">
            <table datatable [dtOptions]="dtOptions" width="100%" class="row-border hover">
              <thead class="thead-dark">
                <tr>
                  <th class="no-sort">No</th>
                  <th>So Number</th>
                  <th>Party Name</th>
                  <th>Pieces</th>
                  <th>Date</th>
                  <th class="no-sort">Destination </th>
                  <th class="no-sort">Transporter</th>
                  <th class="no-sort" width="120">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of solist;let i = index">
                  <td>{{startnumber + i + 1}}</td>
                  <td>{{val.SoNumber}}</td>
                  <td>{{val.Name}}</td>
                  <td>{{val.TotalSoPieces}}</td>
                  <td>{{val.SoDate | date:'dd/MM/y'}}</td>
                  <td>{{val.Destination}}</td>
                  <td>{{val.Transporter}}</td>
                  <td class="flex">
                    <button type="button" *ngIf="UserRole==2" class="pull-left mr-1 btn btn-secondary"
                      (click)="viewlogs(val.Id)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button type="button" *ngIf='isEdit==1 && val.OWID==0' class="btn btn-primary mr-1"
                      (click)="edit(val.Id)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
                    <button type="button" *ngIf='isDelete==1 && val.OWID==0' class="btn btn-danger mr-1"
                      (click)="delete(val.Id)"> <i class="fa fa-trash-o" aria-hidden="true"></i> </button>
                    <button type="button" class="btn btn-primary mr-1" (click)="printsochallan(val.Id)"> <i
                        class="fa fa-print" aria-hidden="true"></i> </button>
                  </td>
                </tr>
                <tr *ngIf="solist?.length == 0">
                  <td colspan="3" class="no-data-available">No data available in table!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Start of SO Challan -->
  <div *ngIf="showSOChallan==true"
    style="position: fixed;top: 0;z-index: 10000;left: 0;width: 100%;display: flex;justify-content: center;align-items: center;height: 100vh; background: #000000b3;">
    <div id="contentToConvert"  class="card page" style="width: 77%;height: 85%;max-height: 825px;">
      <i (click)="goBack()" class="fa fa-times"
        style="font-size: 25px;position: absolute;top: -22px;right: -20px;color: black;cursor: pointer;height: 45px;justify-content: center;width: 45px;border-radius: 50%;box-shadow: 0px 4px 25px 16px rgb(0 0 0 / 7%);background: white;align-items: center;display: flex;box-shadow: beige;"></i>
      <div id="print-section" #drawMe  class="card-body" style="overflow: auto; margin: 1.25rem; padding: 0;">
        <table width="100%" class="saleorder" border="0" cellspacing="0" style="font-family:Arial; border:0;">
          <tbody>
            <tr>
              <td colspan="6"
                style="border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:center;">
                <h4 style="margin:0; padding:6px; text-align:center;"><strong>SALES ORDER</strong></h4>
              </td>
            </tr>
            <tr style="background:#000;">
              <td colspan="6"
                style="border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:center;">
                <h2 style="margin:0; padding:6px; color:#fff; text-align:center;">
                  <!-- <strong>{{SalesPerson}}</strong> -->
                  <strong>COLORHUNT</strong>
                </h2>
                <!-- <strong>{{UserName}}</strong></h2> -->
              </td>
            </tr>
            <tr>
              <td colspan="4"
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>PARTY:</strong> {{Name}}
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px; width:120px;">
                <strong>DATE:</strong>
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; font-size:14px; width:200px;">
                {{SODate | date:'dd/MM/y'}}</td>
            </tr>
            <tr>
              <td colspan="4"
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>ADDRESS:</strong> {{Address}}
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>SO NO:</strong>
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; font-size:14px;">
                {{SoNumber}}</td>
            </tr>
            <tr>
              <td colspan="6" style="padding:6px;border-left:1px solid #c8ced3;border-top:1px solid #c8ced3;border-right: 1px solid #c8ced3;font-size:14px;">
                <strong>TRANSPORT:</strong> {{Transporter}}
              </td>
              <!-- <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>TRANSPORT:</strong>
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; font-size:14px; ">
                {{Transporter}}</td> -->
            </tr>
            <tr>
              <td colspan="4"
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>GST: </strong> {{GSTNumber}}
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; font-size:14px;">
                <strong>REMARKS</strong>
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; font-size:14px;">
                {{Remarks}}
              </td>
            </tr>
            <tr>
              <td colspan="6" style="border-top:1px solid #c8ced3; height:30px;"></td>
            </tr>
          </tbody>
        </table>
        <div class="page-footer" style="font-family:Arial; position: fixed; bottom: 0; width: 100%;">
          <div style="float: left;"><strong>Prepared by: </strong>{{UserName}}</div>
          <div style="position: absolute; left: 0; right: 0; margin: 0 auto; width: 240px;">
            <strong>Verified by: </strong>{{verifiedby}}
          </div>
          <div style="float: right;"> <strong>Authorized by: </strong> <span
              style="border-bottom: #000 solid 1px;">______________________</span> </div>
        </div>
        <table class="desktopview" width="100%" border="0" cellspacing="0" style="font-family:Arial; border:0;">
          <thead>
            <tr style="text-align:center; font-size:14px;">
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>SN</strong>
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>ARTICLE</strong>
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>CATEGORY</strong>
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; min-width:110px;">
                <strong>SIZES</strong>
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>COLORWISE QTY IN PCS</strong>
              </td>
              <!-- <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>COLORS</strong>
              </td> -->
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; min-width:80px; background:#e2efd9;">
                <strong>TOTAL QTY</strong>
              </td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; background:#e2efd9;">
                <strong>RATE</strong>
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3;">
                <strong>AMOUNT</strong>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align:center; font-size:14px;"
              *ngFor="let val of challansolist[0]; let i = index; last as islast">
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;width: 94px;">
                {{ i + 1}}</td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
                {{val.ArticleNumber}}</td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
                {{val.Title}}</td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
                {{val.ArticleSize}}</td>
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:left;">
                <div [innerHTML]="val.TotalQtyWithColor"></div> </td>  
              <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; background:#e2efd9;">
                {{val.TotalQty}} </td>  
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right; background:#e2efd9;">
                <span class="rupeesymbol">&#8377;</span>{{val.ArticleRate}}
              </td>
              <td
                style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                <span class="rupeesymbol">&#8377;</span>{{val.Amount}}
              </td>
            </tr>
            <tr style="text-align:center; font-size:14px;">
              <td colspan="5"
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                <strong>TOTAL</strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3;">
                <strong>{{TotalNoPacks}}</strong>
                <!-- <strong>{{TotalQuantityPic}}</strong> -->
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                <strong></strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                <strong><span class="rupeesymbol">&#8377;</span>{{TotalAmount}}</strong>
              </td>
            </tr>
            <ng-template *ngIf="GSTLabel=='GST Amount';then showGSTAmount; else showGSTPercentage"> </ng-template>

            <ng-template #showGSTAmount>
              <tr *ngIf="GSTLabel=='GST Amount'" style="text-align:center; font-size:14px;">
                <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                  style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                <td
                  style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                  <strong>{{GSTLabel}}</strong>
                </td>
                <td
                  style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                  <strong>+ <span class="rupeesymbol">&#8377;</span>{{GSTValue}}</strong>
                </td>
              </tr>
            </ng-template>
            <ng-template #showGSTPercentage>
              <ng-template *ngIf="GSTType=='IGST';then showIGST; else showGST"> </ng-template>
              <!-- SUPPLIER -->
              <ng-template #showIGST>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                    style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                  <td
                    style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                    <strong>GST</strong>
                  </td>
                  <td
                    style="padding:6px; border-top:1px solid #c8ced3; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                  </td>
                </tr>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                    style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                  <td style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;">
                    {{GSTType}} {{GSTPercentage}}%</td>
                  <td
                    style="padding:4px 6px; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                    <strong>+ <span class="rupeesymbol">&#8377;</span>{{GSTValue}}</strong>
                  </td>
                </tr>
              </ng-template>

              <ng-template #showGST>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                    style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                  <td
                    style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                    <strong>GST</strong>
                  </td>
                  <td
                    style="padding:6px; border-top:1px solid #c8ced3; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                  </td>
                </tr>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                    style="padding:0px 6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                  <td style="padding:0px 6px; border-left:1px solid #c8ced3; text-align:right;">
                    SGST {{GSTPercentage}}%</td>
                  <td
                    style="padding:0px 6px; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                    <strong>+ <span class="rupeesymbol">&#8377;</span>{{SGSTValue}}</strong>
                  </td>
                </tr>

                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                    style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;"></td>

                  <td
                    style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3;  text-align:right;">
                    CGST {{GSTPercentage}}%</td>
                  <td
                    style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                    <strong>+ <span class="rupeesymbol">&#8377;</span>{{CGSTValue}}</strong>
                  </td>
                </tr>

              </ng-template>
            </ng-template>

            <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
              <td [ngStyle]="{'border-bottom' : BorderBottomWithoutRoundOff === true ? '1px solid #c8ced3' : 'normal'}"
                [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right; background-color: #f7f7f7;">
                <strong>Total with GST</strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right; background-color: #f7f7f7;">
                <strong><span class="rupeesymbol">&#8377;</span>{{TotalFinalAmount}}</strong>
              </td>
            </tr>
            <tr *ngIf="Roundoff" style="text-align:center; font-size:14px;">
              <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td>
              <td
                style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                Adjust Amount</td>
              <td
                style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                <strong><span *ngIf="RoundValueSign=='Up'">
                    +
                  </span> <span *ngIf="RoundValueSign=='Down'">
                    -
                  </span><span class="rupeesymbol">&#8377;</span>{{AdjustAmount}}</strong>
              </td>
            </tr>
            <tr *ngIf="Roundoff" style="text-align:center; font-size:14px;">
              <td [attr.colspan]="PartyTotalDiscount=='0' ? '5' : '6'"
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; text-align:right;">
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right; background-color: #e4e5e6;">
                <strong>Grand Total</strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right; background-color: #e4e5e6;">
                <strong><span class="rupeesymbol">&#8377;</span>{{TotalRoundAmount}}</strong>
              </td>
            </tr>
          </tbody>
          <!-- <tfoot>
      <tr>
      <td>
        <div class="page-footer-space" style="height: 30px;"> <strong>Prepared By :</strong> {{ UserName}}</div>
      </td>
      </tr>
    </tfoot> -->
        </table>
        <table class="width mobileview" width="100%" cellpadding="0" cellspacing="0"
          style="font-family:Arial; border:1px solid #c8ced3; display: none;">
          <tbody style="width: 100%; display: table;">
            <tr style="font-size:14px;" *ngFor="let val of solist[0]; let i = index; last as islast">
              <td
                style="padding:5px 15px; border-right:1px solid #c8ced3;  border-top:1px solid #c8ced3; text-align:center; vertical-align: top;">
                <strong>{{ i + 1}}</strong>
              </td>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0" style="font-family:Arial;">
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">ARTICLE</strong> {{val.ArticleNumber}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">CATEGORY</strong> {{val.Title}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3; background:#e2efd9;"><strong
                        style="width: 130px; display: block; float: left;">TOTAL QTY</strong> {{val.QuantityInSet}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">COLORS</strong> {{val.ArticleColor}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">SIZES</strong> {{val.ArticleSize}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">RATE</strong> <span
                        class="rupeesymbol">&#8377;</span>{{val.ArticleRate}}</td>
                  </tr>
                  <tr>
                    <td style="padding:5px; border-top:1px solid #c8ced3;"><strong
                        style="width: 130px; display: block; float: left;">AMOUNT</strong> <span
                        class="rupeesymbol">&#8377;</span>{{val.Amount}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="font-size:14px;">
              <td colspan="2"
                style="padding:5px 15px; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:center; vertical-align: top;">
                <strong style="text-align:right; float: right;">{{TotalNoPacks}}</strong><strong
                  style="float: right; text-align:right;">Total QTY IN PCS&nbsp;&nbsp;</strong>
              </td>
            </tr>
            <tr style="font-size:14px;">
              <td colspan="2"
                style="padding:5px 15px; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:center; vertical-align: top;">
                <strong style="text-align:right; float: right;"><span
                    class="rupeesymbol">&#8377;</span>{{TotalAmount}}</strong><strong
                  style="float: right; text-align:right;">Total AMOUNT&nbsp;&nbsp;</strong>
              </td>
            </tr>




            <ng-template *ngIf="GSTLabel=='GST Amount';then showGSTAmountMobile; else showGSTPercentageMobile">
            </ng-template>

            <ng-template #showGSTAmountMobile>
              <tr *ngIf="GSTLabel=='GST Amount'" style="text-align:center; font-size:14px;">
                <!-- <td colspan="2" style="padding:5px 15px; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:center; vertical-align: top;">
                            <strong>{{GSTLabel}}</strong><strong>+ &#8377;{{GSTValue}}</strong>
                        </td> -->
                <td style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                  <strong>{{GSTLabel}}</strong>
                </td>
                <td
                  style="padding:6px; border-top:1px solid #c8ced3; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                  <strong>+ &#8377;{{GSTValue}}</strong>
                </td>
                <!-- <td [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td> -->
                <!--
                        <td style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                            <strong>{{GSTLabel}}</strong></td>
                        <td style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                            <strong>+ &#8377;{{GSTValue}}</strong></td> -->
              </tr>
            </ng-template>
            <ng-template #showGSTPercentageMobile>
              <ng-template *ngIf="GSTType=='IGST';then showIGSTMobile; else showGSTMobile"> </ng-template>
              <!-- SUPPLIER -->
              <ng-template #showIGSTMobile>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <!-- <td [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td> -->

                  <td
                    style="padding:6px; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                    <strong>GST</strong>
                  </td>
                  <td
                    style="padding:6px; border-top:1px solid #c8ced3; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                  </td>
                </tr>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <!-- <td [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;"></td> -->

                  <td style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;">
                    {{GSTType}} {{GSTPercentage}}%</td>
                  <td
                    style="padding:4px 6px; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                    <strong>+ &#8377;{{GSTValue}}</strong>
                  </td>
                </tr>
              </ng-template>

              <ng-template #showGSTMobile>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td colspan="2"
                    style="padding:5px 15px; border-right:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:center; vertical-align: top;">
                    <strong>GST</strong>
                  </td>
                </tr>
                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td
                    style="padding:4px 6px; border-left:1px solid #c8ced3;  border-top:1px solid #c8ced3; text-align:right;">
                    SGST {{GSTPercentage}}%</td>
                  <td
                    style="padding:4px 6px; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3;  border-top:1px solid #c8ced3; text-align:right;">
                    <strong>+ &#8377;{{SGSTValue}}</strong>
                  </td>
                </tr>

                <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
                  <td style="padding:4px 6px; border-left:1px solid #c8ced3; text-align:right;">
                    CGST {{GSTPercentage}}%</td>
                  <td
                    style="padding:4px 6px; border-left:1px solid #c8ced3;  border-right:1px solid #c8ced3; text-align:right;">
                    <strong>+ &#8377;{{CGSTValue}}</strong>
                  </td>
                </tr>

              </ng-template>
            </ng-template>




            <tr *ngIf="GSTValue!=0" style="text-align:center; font-size:14px;">
              <!-- <td [ngStyle]="{'border-bottom' : BorderBottomWithoutRoundOff === true ? '1px solid #c8ced3' : 'normal'}" [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td> -->
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right; background-color: #f7f7f7;">
                <strong>Total with GST</strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right; background-color: #f7f7f7;">
                <strong>&#8377;{{TotalFinalAmount}}</strong>
              </td>
            </tr>
            <tr *ngIf="Roundoff" style="text-align:center; font-size:14px;">
              <!-- <td [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:6px; border-left:1px solid #c8ced3; text-align:right;"></td> -->
              <td
                style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right;">
                Adjust Amount</td>
              <td
                style="padding:4px 6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right;">
                <strong><span *ngIf="RoundValueSign=='Up'">
                    +
                  </span> <span *ngIf="RoundValueSign=='Down'">
                    -
                  </span>&#8377;{{AdjustAmount}}</strong>
              </td>
            </tr>
            <tr *ngIf="Roundoff" style="text-align:center; font-size:14px;">
              <!-- <td [attr.colspan]="PartyTotalDiscount=='0' ? '1' : '2'" style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; text-align:right;">
                    </td> -->
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; text-align:right; background-color: #e4e5e6;">
                <strong>Grand Total</strong>
              </td>
              <td
                style="padding:6px; border-bottom:1px solid #c8ced3; border-left:1px solid #c8ced3; border-top:1px solid #c8ced3; border-right:1px solid #c8ced3; text-align:right; background-color: #e4e5e6;">
                <strong>&#8377;{{TotalRoundAmount}}</strong>
              </td>
            </tr>



          </tbody>
        </table>
        <!-- <div class="page-footer-space" style="height: 30px;"> <strong>Prepared By :</strong> {{ UserName}}</div> -->
      </div>
      <div class="challan-btn" style="margin: 1.25rem;">

        <div class="pull-left"><button type="button" (click)="goBack()" class="btn btn-primary px-4">Back</button></div>

        <button type="button" [useExistingCss]="true" printSectionId="print-section"
          class="printbutton btn btn-primary mr-1 mb-3 mt-1 pull-right" ngxPrint> <i class="fa fa-print"
            aria-hidden="true"></i> </button>
        <button type="button" (click)="pdf(drawMe)" class="btn btn-primary mr-1 mb-3 mt-1 pull-right"><i
            class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

  <div *ngIf="showSOLogs==true"
  style="position: fixed;top: 0;z-index: 10000;left: 0;width: 100%;display: flex;justify-content: center;align-items: center;height: 100vh; background: #000000b3;">
  <div class="card" style="width: 77%;">
    <i (click)="CloseLogs()" class="fa fa-times"
      style="font-size: 25px;position: absolute;top: -22px;right: -20px;color: black;cursor: pointer;height: 45px;justify-content: center;width: 45px;border-radius: 50%;box-shadow: 0px 4px 25px 16px rgb(0 0 0 / 7%);background: white;align-items: center;display: flex;box-shadow: beige;"></i>

    <div class="card-header">
      <div class="table-title"><i class="fa fa-align-justify"></i> SO Logs</div>
    </div>
    <div class="col-md-12 pt-3 pb-3" style="max-height: 729px; height: 100%; overflow: scroll;">
      <table class="w-100 dataTable row-border hover">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Time</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Log Type</th>
            <th>Log Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of SOLogsData;let i = index">
            <td>{{ i + 1}}</td>
            <td>{{val.CreatedDate}}</td>
            <td>{{val.CreatedTime}}</td>
            <td>{{val.Name}}</td>
            <td>{{ val.Role }}</td>
            <td *ngIf="val.Status == 1">Active</td>
            <td *ngIf="val.Status == 0">Inactive</td>
            <td>{{ val.LogType }}</td>
            <td>{{ val.LogDescription }}</td>
          </tr>
          <tr *ngIf="SOLogsData?.length == 0">
            <td colspan="8" class="no-data-available text-center">No data available in table!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- End Of SO Challan -->

</ng-template>
<ng-template #other_content>
  <div class="col-sm-12 col-md-12">
    <div class="card text-white bg-info text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <h3>Rights that are not assignable</h3>
          <footer>Please contact <cite title="Source Title">Admin</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</ng-template>
<ngx-spinner type="ball-beat" size="20px">
</ngx-spinner>